body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3.5vw;
    line-height: 1em;
    margin: 10px 0;
}

h2 {
    font-size: 1.8vw;
    margin: 0;
}

h3 {
    margin: 10px 0;
}

.half-width {
    width: 50%;
}

/* Utility Classes */

.container {
    max-width: 1300px;
}

.orange-text {
    color: orange;
}

.button {
    text-decoration: none;
    padding: 12px 25px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    text-transform: uppercase;
    white-space: nowrap;
    font-size: .75vw;
    font-weight: 300;
    max-width: 180px;
    text-align: center;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 1px;
    margin-top: 25px;
}

.button:hover {
    background-image: linear-gradient(45deg, tomato, tomato);
}

.text-center {
    text-align: center;
}

/* First Section */
.first-section {
    background: url("images/top-banner.png") no-repeat left top / contain;
}

.first-section .container {
    display: flex;
    padding: 5% 0 2.5%;
}

.first-section .container div:first-child {
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Second Section */
.second-section {
    background: url("images/dream-bg.png") no-repeat right bottom / 7.5%;
}

.second-section .container {
    display: flex;
    padding: 2.5% 0;
}

.second-section .container div:last-child {
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Third Section */
.third-section .container {
    max-width: 100%;
    background: url("images/exp-bg.png") no-repeat left top / 5%;
    padding: 0 7.5%;
    margin: 2.5% 0 5%;
}

.third-section .flex-container {
    display: flex;
}

.third-section .flex-container div {
    background: #ffffff;
    margin: 5% 2.5%;
    padding: 5%;
    box-shadow: 6px 6px 10px 3px rgba(0, 0, 0, 0.1);
}

.third-section .flex-container div:first-child {
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, tomato) 1;
}

.third-section .flex-container div:last-child {
    border-left: 7px solid;
    border-image: linear-gradient(cyan, blue) 1;
}

/* Footer */
footer p {
    color: rgb(105, 105, 105);
}

